.photo1{
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
    width: 350px;
    vertical-align: top;
    margin-bottom: 0px;
}
.profile-picture{
    display: flex;
    vertical-align: top;
    border-radius: 50%;
}
.profile-details{
    margin-left: 10px;
    vertical-align: top;
}
.img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}